<footer class="footer">
    <div class="grid footer__wr">
        <div class="grid-col-3"></div>
        <div class="grid-col-6 social-links footer__links">
            <a href="#" class="social-links__item">Be</a>
            <a href="#" class="social-links__item">In</a>
            <a href="#" class="social-links__item">Fb</a>
            <a href="#" class="social-links__item">Tw</a>
            <a href="#" class="social-links__item">Vk</a>
        </div>
        <div class="grid-col-full">
            <a href="#" class="footer__vacancy vacancy" i18n>Vacancy</a>
        </div>
        <div class="footer__lang lang g-text-r grid-col-2">
            <a href="#" class="lang__items">Ru</a>
            <a href="#" class="lang__items">En</a>
        </div>
        <div class="grid-col-3"></div>
    </div>
</footer>
