<header class="header">
    <div class="grid header__wr">
        <div class="grid-col-3">
          <a href="#" class="header__logo logo">
            <object type="image/svg+xml" data="assets/images/logo.svg"></object>
          </a>
        </div>
        <div class="grid-col-full">
          <a href="#" class="logo-text header__logo-text">lodoss</a>
        </div>
        <div class="grid-col-full g-text-r">
          <div class="header__work" i18n>work with us</div>
        </div>
        <div class="grid-col-3 g-text-r">
          <object class="header__menu-icon" type="image/svg+xml" data="assets/images/menu.svg"></object>
        </div>
    </div>
    <div class="grid header__menu">
        <nav class="grid-col-full g-text-r menu menu_header">
        </nav>
        <div class="grid-col-3"></div>
    </div>
</header>
